#screen{
    color:black;
}

h1{
   text-align: center;

}

p{
    font-family: sans-serif;
    font size: 20px
}

.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #008CBA;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;

}

.button:hover {background-color: #e7e7e7}

.button:active {
  background-color: #008CBA;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
html{
    text-align: center

}

#screen{
height: 40px;
    width: 600px;
    font-size: 20px
}
